*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(146, 19, 19, 0.829), rgba(0, 0, 0, 0.418)), url(Images/PUP.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*-- -------------------------header------------------------- */
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px; 
}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
h2{
    color:white;
    font-size: 15px;
}

h1{
    color: white;
}

p {
    color: white;
    font-size: 15px;
}

/*-- -------------------------nav------------------------- */

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/*-- -------------------------button apply now------------------------- */

button {
    background-color: #ffffff;
    border: none;
    color: rgb(107, 7, 7);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

button a {
    color: #5f0000;
    text-decoration: none;
    font-size: 15px;
    position: relative;
  }

/*-- -------------------------header text------------------------- */
.header-text{
    margin-top: 15%;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 10px;
}

.header-text h1 span{
    color: #ff004f;
}

.header-text h2{
    font-size: 20px;
}

/*-- -------------------------footer------------------------- */
.footer{
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background: #5c0000;
    font-weight: 300;
    margin-top: 20px;
}
.footer{
    color: #ff004f;
}